<span th:fragment="navbar(activePage)">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="../">Home</a></li>
        <li class="breadcrumb-item"><a th:classappend="${activePage=='dashboard'}?'active'" th:href="@{/}">Dashboard</a>
        </li>
        <li class="breadcrumb-item"><a th:classappend="${activePage=='transaction'}?'active'"
                th:href="@{/Transaction}">Transaction</a></li>
        <li class="breadcrumb-item"><a th:classappend="${activePage=='Add'}?'active'" th:href="@{/Transaction/add}"></a>
        </li>
    </ul>
</span>