<!DOCTYPE html>
<html>

<head>
    <style>

    </style>
</head>

<body>
    <div class="popupOverlay" th:fragment="popUp">
        <div class="overlay">
            <p><strong>Id</strong><span id="transId"></span></p>
            <p><strong>Description</strong><span id="transDescription"></span></p>
            <p><strong>Amount</strong><span id="transAmount"></span></p>
            <p><strong>Transaction Type</strong><span id="transTransactionType"></span></p>
            <p><strong>Date</strong><span id="transDate"></span></p>
            <button class="close-btn" onclick=""></button>
        </div>
    </div>
</body>

</html>