<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="transactionModal">
        <div class="modal fade" id="transactionModal" tabindex="-1" aria-labelledby="=transactionModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 clas="modal-title">transaction Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label><strong>Transaction ID :</strong></label>
                                <label id="transId"></label>
                            </div>
                            <div class="mb-3">
                                <label><strong>Transaction Amount :</strong></label>
                                <label id="transAmount"></label>
                            </div>
                            <div class="mb-3">
                                <label><strong>Date Of Transaction :</strong></label>
                                <label id="transDate"></label>
                            </div>
                            <div class="mb-3">
                                <label><strong>Transaction Details :</strong></label>
                                <label id="transDescription"></label>
                            </div>
                            <div class="mb-3">
                                <label><strong>Transaction Type :</strong></label>
                                <label id="transTransactionType"></label>
                            </div>
                            <div class="mb-3">
                                <label><strong>Category Type :</strong></label>
                                <label id="transCategory"></label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>